discopy>=0.3.7.1
ipython>=8.2.0
matplotlib>=3.4.2
nltk>=3.6.5
numpy
lambeq
pandas>=1.3.0
pytket>=1.0.1
pytket_qiskit>=0.18.0
qiskit>=0.35.0
qiskit_ignis>=0.6.0
sympy==1.8
torch==1.10.2
torchvision==0.11.3
transformers==4.16.2
